{% extends 'articles/base.html' %}
{% block body %}
<div class="title my-5">
    <h1><a href="/articles/">게시판</a></h1>
</div>
<a href="/articles/new/" class="btn btn-secondary mb-2">게시물 등록</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">생성 시간</th>
      <th scope="col">수정 시간</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.pk }}</th>
      <td>
      <a href="/articles/{{ article.pk }}">
      {{article.title}}</a>
      </td>
      <td>{{article.content}}</td>
      <td>{{ article.created_at }}</td>
      <td>{{ article.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock  %}